*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
body{
    background-color: black;
}
.navbar{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 59px;
}
footer div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.navbar div{
    display: flex;
    align-items: center;
    margin: 10px;
}
.navbar div i{
    display: block;
    text-align: center;
    font-size: 20px;
}
.center_bar a{
    margin: 0 20px;
}
.navbar div i.fa-angle-up{
    font-size: 12px;
}
/* main section */
#user_video{
    display: flex;
    background-color: black;
    justify-content: flex-end;
}
#user_video a{
    text-decoration: none;
    background-color: grey;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.screen_users{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}
.screen{
    background-image: url(https://picsum.photos/536/354);
    width: 200px;
    height: 130px;
    background-size: cover;
    margin: 10px;
    position: relative;
}
.user_name{
    background-color: rgba(220,220,220,.8);
    padding: 3px;
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}
#end_meeting{
    margin-left: 20px;
    color: #df231d;
    background-color: #4a4a4a;
    padding: 20px;
}



